nav {
    width: 73%;
    padding: 1%;
  }

  .inline-block {
    padding: 150px;
    display: inline-block;
  }

  ul {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: auto;
}

li {
    list-style-type: none;
    margin-right: 3rem;
    display: inline-block;
    justify-items: right;
}

li > a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    
}
.class {
  width: 23%;
  padding: 1%;
}

.heroing {
  height: 600px;
  padding: 25px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.footer {
  height: 100px;
  padding: 25px;
  width: auto;
  text-align: center;
}

