nav {
    width: 73%;
    float: right;
    margin: 0;
  }

  .inline-block {
    padding: 150px;
    display: inline-block;
  }

  ul {
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    text-align: center;
}

li {
    list-style-type: none;
    margin-right: 3rem;
    display: inline-block;
}

li > a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;    
}
.class {
  width: 75%;
  padding: 1%;
}

.heroing {
  height: 650px;
  padding: 25px;
  width: 1000px;
  margin: 0 auto;
}
.mypic {
  width: 350px;
  height: 350px;
  float: left;
}
.title {
  height: 50px;
  padding: 25px;
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: #FCECEC;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.footer {
  height: 100px;
  padding: 25px;
  width: auto;
  text-align: center;
}

